<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITI WEB SERVER</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>welcome {{ user }} From ITI webserver</h1>
    <h3>Public ip: {{ hostvars[inventory_hostname]['ansible_host'] }}</h3>
    <h3>
      Private domain name: {{ hostvars[inventory_hostname]['ansible_fqdn'] }}
    </h3>
    <h3>
      Distribution: {{
      hostvars[inventory_hostname]['ansible_facts']['distribution'] }}
    </h3>
  </body>
</html>
